<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<body>
    <div class="d-flex">
        <%- include('layouts/sidebar'); -%>
        <main class="container mt-4 flex-grow-1">
            <div class="mb-3">
                <label for="roomSelect" class="form-label">Select Room:</label>
                <div class="input-group">
                    <select id="roomSelect" class="form-select">
                    </select>
                    <button id="trainButton" class="btn btn-outline-primary">Train Model</button>
                    <button id="predictButton" class="btn btn-outline-secondary">Get Predictions</button>
                </div>
            <div class="container mt-4">
                <canvas id="predictionChart"></canvas>
            </div>
            <div class="container mt-4">
                <div id="predictions"></div>
            </div>
        </main>
    </div>
    <script src="/js/prediction.js"></script>
    <%- include('layouts/scripts'); -%>
</body>

</html>