<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

<body>
    <div class="d-flex">
        <%- include('layouts/sidebar'); -%>
        <main class="flex-grow-1">
            <div>"In development..."</div>
        </main>
    </div>
    <%- include('layouts/scripts'); -%>
</body>

</html>