.card {
    width: 12rem; /* Зменшення розміру карточок */
}
.sidebar {
    height: 100vh; /* Висота навігаційної панелі до повного екрану */
    background-color: #f8f9fa; /* Світлий фон для панелі */
}
.main-content {
    flex-grow: 1; /* Залишок простору на сторінці */
}
.card-img-top {
    height: 100px; /* Фіксована висота для зображень кімнат */
    object-fit: cover; /* Запобігання спотворенню зображень */
}